{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('show', object) }}">{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.id(object) and admin.isGranted('SHOW', object) and admin.show|length > 0 %}
            <a class="btn sonata-action-element" href="{{ path('zorbus_page_' ~ object.id, {'page': object}) }}" target="_blank">{{ 'Preview'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
        $(".available").draggable({
            revert: 'invalid',
            cursor: 'move',
            containment: 'document'
        });
        $(".blocks").droppable({
            accept: ".available",
            hoverClass: "hover",
            drop: function(event, ui){
                var draggable = $(event.srcElement)[0];
                draggable.style.top = 0;
                draggable.style.left = 0;
                if ($(draggable).hasClass('alert-error')){
                    $(draggable).append('<a class="close" href="#">x</a>');
                }
                $(draggable).removeClass('alert-error');
                $(draggable).removeClass('available');
                $(event.target).find('ul').append(draggable);
                $.ajax({
                    url: "{{ admin.generateUrl('pageBlockAssociate') }}",
                    dataType: 'html',
                    type: 'get',
                    data: {
                        'page_id': {{ page.id }},
                        'block_id': $(draggable).attr('title'),
                        'location': $(event.target).attr('title')
                    },
                    success: function(data)
                    {
                        $(draggable).addClass('alert-success');
                        $(draggable).draggable('disable');
                    }
                });
            }
        });
        $('.blocks').on('click', 'a', function(){
            var block = $(this).parent();
            block.removeClass('alert-success');
            $(this).remove();
            $.ajax({
                    url: "{{ admin.generateUrl('pageBlockUnassociate') }}",
                    dataType: 'html',
                    type: 'get',
                    data: {
                        'page_id': {{ page.id }},
                        'block_id': $(this).attr('title')
                    },
                    success: function(data)
                    {
                        block.addClass('alert-error');
                        block.addClass('available');
                        block.appendTo($('#available'));
                        block.draggable("enable");
                        $('#'+block.attr('type')+' ul').append(block);
                    }
                });

        });
        $('.area').click(function(event){
            event.preventDefault();
            var area = $(this).attr('id');
            $('.area_'+area).toggle();
            if ($(this).find('span').text() == '-')
            {
                $(this).find('span').text('+');
            }else
            {
                $(this).find('span').text('-');
            }

        });
        $('.available.disabled').draggable("disable");
    });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .hover {
            border: 2px dashed #ddd !important;
        }
        .sonata-bc .tab-content {
            overflow: visible !important;
        }
    </style>
{% endblock %}

{% block title %}
    {{ page }}
{% endblock %}

{% block sonata_admin_content %}
    <div class="row-fluid">
        <h2>{{ 'Blocks available' | trans({}, 'ZorbusPageBundle') }}</h2>
        <ul class="nav nav-tabs">
        {% for category in categories %}
            <li{% if loop.first %} class="active"{% endif %}><a href="#{{ category.category | lower }}" data-toggle="tab">{{ category.category | trans({}, 'ZorbusPageBundle') }}</a></li>
        {% endfor %}
        </ul>

        <div class="tab-content">
        {% for category in categories %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ category.category | lower }}">
                <ul>
                {% if blocks[category.category] is defined %}
                    {% for block in blocks[category.category] %}
                        <li class="alert alert-error available span2 {{ block.category | lower }}" type="{{ block.category | lower }}" title="{{ block.id }}"><strong>{{ block.category | trans({}, 'ZorbusPageBundle') }}</strong>: {{ block }}</li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr>
    {% for area, area_name in areas %}
        <div class="row-fluid">
            <h2><a href="#" class="area" id="{{ area }}"><span>-</span> {{ area_name }}</a></h2>
            <div class="well well-small blocks area_{{ area }}" title="{{ area }}">
                <ul>
                {% if page_blocks[area] is defined %}
                    {% for page_block in page_blocks[area] %}
                    <li class="alert alert-success available disabled span2 {{ page_block.block.category | lower }}" type="{{ page_block.block.category | lower }}" title="{{ page_block.block.id }}"><strong>{{ page_block.block.category | trans({}, 'ZorbusPageBundle') }}</strong>: {{ page_block.block }} <a class="close" href="#" title="{{ page_block.block.id }}">x</a></li>
                    {% endfor %}
                {% endif %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}